*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
#Ignoring Texnicle files : 
*.texnicle
#Ignoring DS_store
*.DS_Store
#Ignoring more files (Geoffrey)
*.bcf
*.run.xml
*.ptc
*.fdb_latexmk
*.snm
*.nav
*.fls
